<!-- finally we'll create the profile template.
I'll copy the checkout template this time and make a couple minor adjustments.
First removing bag tools.
Then changing the extra CSS file to one for the profiles app.
And finally removing everything else except for the header which I'll change to my profile
Lastly I'll create an empty CSS file in the appropriate directory.
And that's where we'll maintain the CSS for this app. -->

  
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
        <!--We need to render the form in the profile template so let's head there and create a new row.
                            Half of this page will be the profile and the other half will be the order history so I'll create two columns.
                            And then the first one I'll add a small paragraph heading and then a form.
                            As you might guess it will submit to the profile URL. And use the post method which we'll write in a bit.
                            I'll give it an id of profile-update-form so we can easily identify it.
                            And inside I'll render it as a crispy form.
                            Lastly we need a submit' button and that will look just like our other buttons
                            and float on the right of the column.
                            We might as well make the heading for the other column also while we're at it.
                            And for now, just spit out all the users orders if there are any. So we can make sure that's working.-->
            <div class="col-12 col-lg-6">
                <p class="text-muted">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
                <!--In the profile template. The order history will be a simple responsive bootstrap table.
I'll make it small and borderless.
And it will have four columns in the head. Order number, date, items, and the order total.
In the table body, we can iterate through the orders returned from the profile view.
And generate a row for each one.
The order number cell will be a link to a url we'll create in a moment called order history.
And we'll pass it the order number.
Also, we'll give this link a title so when you hover over it you can see the whole order number.
And then to keep things condensed we'll pipe the order number into the built-in
truncate characters filter to limit it to six characters.
The order date in grand total are straightforward so I'll add those here.
And now for the items, we'll make it an unordered unstyled list.
For each item in the orders list of line-items.
let's make a small text summary of it including the size if applicable.
The product name, and the quantity purchased.-->
                 <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                    <!--There's only one small bit of CSS we'll need for this.
                                        And that's just to give it a max height in case the user has a lot of orders.
                                        This 416 pixels is the height of the form and the submit button in the adjacent column
                                        so above that height, the order history area will have a scrollbar.-->
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product.size|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}