{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            <!-- I'm going to add edit and delete links in two places.
                                                First on the product cards on the all products page.
                                                And second on the product detail pages.
                                                Let's start with the products template.
                                                Right after the rating, I'll add an if statement to determine if the user is a
                                                superuser and if so will render two small links for editing and deleting products.
                                                Now I'll copy this and add it under the rating in the product detail template as well. -->
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Now this looks pretty good but we're gonna make it even better using a little Django template magic.
                        I want to create a full-width horizontal rule after each row of products.
                        But since the product cards are all columns inside a single row
                        The number of products in each row will change depending on the screen size.
                        We could accomplish what we wanted though
                        if for example, we knew that there were four columns on the screen and thus
                        every fifth column we'd render a full-width column. In other words a col-12
                        If there were three products in each row then we'd want to render the full width
                        column every fourth column
                        every third column when there are two products.
                        and every other column when the products are stacked one by one.
                        Let's start with the simplest situation.
                        On mobile products will be stacked on top of each other
                        so if we want a full-width horizontal rule then we need to render it after every single product.
                        The problem with this will be obvious if we take a look at the site now.
                        Since we're rendering a full width column it pushes all the products to the next row on all screens.
                        We can fix that by using the display small none class
                        which will prevent this column from rendering on everything except extra small screens.
                        That presents another problem though because now we don't have the horizontal
                        rule on small or medium screens where there are two products in each row.
                        I'll add another column which will be display: none by default
                        to keep it hidden on extra small screens. And display block on small screens and larger.
                        Now we're back to the same problem we had before.
                        With the extra column rendering on every iteration of the loop.
                        And it will render on screens where there are more than two products in a row also.
                        The solution here is that we need to render this column on small and medium screens
                        only when the iteration number of the loop is divisible by two.
                        Because there will be two six-column products in each row
                        So every set of two products, because that'll add up to twelve columns.
                        That's where we want to render the extra one.
                        I'll accomplish this by using a couple of built-in django template tags in an if statement.
                        Let's say if for loop.counter
                        Is divisible by two
                        Then we want to render this column.
                        And it'll be visible only on small and medium screens. So we'll use display small block.
                        Display medium block
                        And display large none to hide it on large and up.
                        On large screens, we need to do the same.
                        But there will be three products in each row.
                        So let's use divisible by three hiding it on everything except large.
                        And finally let's handle extra-large screens which will have four products
                        in each row so we'll want to render this extra one every four columns.
                        I am also going to wrap the extra small horizontal rule in a similar if statement.
                        Just to be explicit about what we're doing though obviously, this isn't necessary
                        since the counter will always be divisible by one.
                        Let's also add a bit of bottom margin after each one of these horizontal rules.
                        And if this made your head spin don't worry -->
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>

        <script type="text/javascript">
            $('#sort-selector').change(function(){
                var selector = $(this);
                var currentUrl = new URL(window.location);

                var selectedVal = selector.val();
                if(selectedVal != "reset"){
                    var sort = selectedVal.split("_")[0];
                    var direction = selectedVal.split("_")[1];

                    currentUrl.searchParams.set("sort", sort);
                    currentUrl.searchParams.set("direction", direction);

                    window.location.replace(currentUrl);
                } else {
                    currentUrl.searchParams.delete("sort");
                    currentUrl.searchParams.delete("direction");

                    window.location.replace(currentUrl);
                }
            })
        </script>
{% endblock %}